# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.log

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/


#System Files
.DS_Store
Thumbs.db

vendor/*
!vendor/vendor.json

tmp/*
gorm.db
coverage.txt

bak.*